/* this is a css comment */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', 'Arial';
}

.navbar {
	background-color: #1F2937;
	font-family: Roboto;
	display: flex;
	justify-content: space-between;
}

.logo {
	font-size: 24px;
	font-weight: bold;
	color: #F9FAF8
}

.navbar-list {
	list-style: none;
	display: flex;
}

.hero {
	display: flex;
	justify-content: space-between;
	background-color: #1f2937;
}

.hero-main {
	font-size: 48px;
	color: #F9FAF8;
	font-weight: 900;
}

.hero-subtext {
	font-size: 18px;
	color: #E5E7EB;
}

.signup1 {
	background-color: #3882F6;
	color: #f9faf8;
}
