/* this is a css comment */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', 'Arial';
}

.navbar {
    background-color: #1F2937;
    font-family: Roboto;
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    height: 50vh;
    padding: 50px 200px;
    gap: 30px;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 10px;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.signup1 {
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    margin: 10px;
}

.left {
    width: 750px;
}

.hero-image {
    width: 600px;
    height: 336px;
    border-radius: 12px;
}

.information {
    width: 100%;
    height: 40vh;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
}

.info-images-container {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 350px;
}

.info-image {
    border: 5px #3882f6 solid;
    border-radius: 12px;
    height: 150px;
    width: 150px;
    gap: 60px;
    margin: 10px;
}

.info-container {
    height: 200px;
    width: 200px;
}

.subtext {
    align-self: center;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    height: 35vh;
    padding: 50px 350px;
}

.quote-main {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    font-style: italic;
    align-self: center;
    justify-self: center;
    margin-top: 83px;
}

.thor {
    text-align: right;
    font-weight: bold;
}
